<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhxh.fund">

    <application
        android:name=".runalone.application.FundApplication"
        android:allowBackup="true"
        android:label="@string/fund_app_name"
        android:supportsRtl="true"
        android:theme="@style/commonAppTheme"
        tools:replace="android:label">
        <activity android:name="com.zhxh.fund.FundHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
